@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ###### Global ###### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: #fff;
    --Black: #000;
}

/* ###### Body ###### */
body{
    background-color: rgb(0, 82, 150);
    font-family: "Roboto", sans-serif;
}

/* ###### Nav ###### */
nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    padding: 10px 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    z-index: 50;

    ion-icon{
        font-size: 30px;
    }
    input{
        width: 30px;
        height: 15px;
        position: absolute;
        top: 10px;
        right: 15px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }
    label{
        width: 30px;
        height: 15px;
        position: relative;
        cursor: pointer;
        span{
            border-radius: 50px;
            position: absolute;
            background-color: var(--Black);
            width: 100%;
            height: 2.5px;
            left: 0;
            transition: 0.3s;
        }
        span:first-child{
            top: 0;
        }
        
        span:nth-child(2){
            top: 50%;
        }
        
        span:nth-child(3){
            top: 100%;
        }
    }
    .dropdown_content{
        border-top: 2px solid var(--Black);
        padding: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        background-color: var(--White);
        width: 100%;
        top: 50px;
        left: -100%;
        transition: left ease 300ms;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
        
        a{
            color: var(--Black);
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
        }
        a:hover{
            color: rgb(77, 77, 77);
        }
    }
}

nav input:checked ~ .dropdown_content{
    left: 0;
}

nav input:checked ~ label span:first-child{
    transform: rotate(45deg);
    top: 6px;
}

nav input:checked ~ label span:nth-child(2){
    opacity: 0;
}

nav input:checked ~ label span:nth-child(3){
    transform: rotate(-45deg);
    top: 6px;
}

/* ###### Main ###### */
main{
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1{
        font-size: 25px;
        margin-left: 20px;
        color: var(--White);
    }
    .pokemon_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 25px 15px;

        .pokemon_div{
            display: flex;
            flex-direction: column;
            width: 300px;
            background-color: #ededed;
            padding: 25px;
            border-radius: 5px;
            
            .pokemon_top{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;

                h3{
                    margin-top: 3px;
                }
            }
            .talent{
                margin-top: 10px;
                gap: 5px;

                .nom_talent{
                    display: flex;
                    flex-direction: column;
                    a{
                        margin-left: 10px;
                    }
                }
            }
            .type_image{
                width: 80px;
                margin: 10px 0;
            }
            .type_image:first-child{
                margin-right: 5px;
            }
            .div_stats{
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                .hp, .atk, .def, .spa, .spd, .spe {
                    position: relative;
                    gap: 5px;
                }
                .barre_hp, 
                .barre_atk, 
                .barre_def, 
                .barre_spa, 
                .barre_spd, 
                .barre_spe {
                    position: absolute;
                    top: 0;
                    left: 80px;
                    height: 20px;
                    max-width: 175px;
                    border: 1px solid var(--Black);
                }
                .barre_hp{
                    background-color: #a0f0a0;
                }
                .barre_atk{
                    background-color: #F6E979;
                }
                .barre_def{
                    background-color: #F8B277;
                }
                .barre_spa{
                    background-color: #81DEE6;
                }
                .barre_spd{
                    background-color: #86A5F7;
                }
                .barre_spe{
                    background-color: #CB81F2;
                }
            }
            .text_resistances{
                margin: 15px 0;
            }
            .res_div{
                display: flex;
                flex-direction: column;
                gap: 5px;
                border: 1px solid var(--Black);
                padding: 10px 0;
                .df_res{
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    border-top: 1px solid var(--Black);
                    padding: 5px 10px;

                    .right{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                    }
                }
                .df_res:first-child{
                    border: none;
                }

                img{
                    width: 65px;
                }
            }
        }
    }
}