@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ###### Global ###### */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ### Color ### */
    --White: #fff;
    --Black: #171716;
    --Color-1: #D7B957;
    --Color-2: #9EA5A8;
}

/* ###### Body ###### */
body{
    background-color: var(--Color-2);
    font-family: "Roboto", sans-serif;

    a{
        color: var(--Black);
    }
}

/* ###### Nav ###### */
nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Color-1);
    padding: 10px 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    z-index: 50;

    .links{
        display: none;
    }
    ion-icon{
        font-size: 30px;
    }
    input{
        width: 30px;
        height: 15px;
        position: absolute;
        top: 10px;
        right: 15px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }
    label{
        width: 30px;
        height: 15px;
        position: relative;
        cursor: pointer;
        span{
            border-radius: 50px;
            position: absolute;
            background-color: var(--Black);
            width: 100%;
            height: 2.5px;
            left: 0;
            transition: 0.3s;
        }
        span:first-child{
            top: 0;
        }
        
        span:nth-child(2){
            top: 50%;
        }
        
        span:nth-child(3){
            top: 100%;
        }
    }
    .dropdown_content{
        border-top: 2px solid var(--Black);
        padding: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        background-color: var(--Color-1);
        width: 100%;
        top: 50px;
        left: -100%;
        transition: left ease 300ms;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
        
        a{
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            cursor: pointer;
        }
        a:hover{
            color: rgb(77, 77, 77);
        }
    }
}

nav input:checked ~ .dropdown_content{
    left: 0;
}

nav input:checked ~ label span:first-child{
    transform: rotate(45deg);
    top: 6px;
}

nav input:checked ~ label span:nth-child(2){
    opacity: 0;
}

nav input:checked ~ label span:nth-child(3){
    transform: rotate(-45deg);
    top: 6px;
}

/* ###### Main ###### */
main{
    display: flex;
    flex-direction: column;
    padding: 75px 25px;
    align-items: center;
    gap: 25px;

    .divs{
        padding: 15px;
        background-color: var(--White);
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;

        .container{
            display: flex;
            flex-direction: column;
            gap: 25px;

            .top_image{
                width: 100%;
                border-radius: 5px;
            }
            .route_image{
                object-fit: cover;
            }
            .encounter{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;

                .encounters{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    flex-wrap: wrap;

                    p{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    nav{
        justify-content: start;
        .links{
            display: flex;
            gap: 30px;
            margin-left: 50px;
            
            a{
                position: relative;
                text-decoration: none;
                font-size: 20px;
                color: var(--Black);
                cursor: pointer;
            }
            a::after{
                content: "";
                position: absolute;
                top: 34px;
                left: 0;
                width: 0;
                height: 3px;
                background-color: var(--Black);
                transition: width ease 400ms;
            }
            a:hover::after{
                width: 100%;
            }
        }
        label{
            display: none;
        }
        .dropdown_content{
            display: none;
        }
    }
    main{
        .divs{
            .container{
                flex-direction: row;
                .encounter{
                    flex-direction: column;
                }
            }
        }
    }
}